<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="updatecontent" align="center">

    <div class="updatetop">
        <h1>Update Account</h1>
    </div>

    <div class="updatebottom">

        <!-- Display success/error message -->
        {% if msg %}
        <div class="msg">{{ msg }}</div>
        {% endif %}

        <form action="{{ url_for('update') }}" method="post">

            <label>Username</label><br>
            <input type="text" name="username" value="{{ account.username }}" class="textbox" required>
            <br><br>

            <label>Password</label><br>
            <input type="password" name="password" value="{{ account.password }}" class="textbox" required>
            <br><br>

            <label>Email</label><br>
            <input type="email" name="email" value="{{ account.email }}" class="textbox" required>
            <br><br>

            <label>Organisation</label><br>
            <input type="text" name="organisation" value="{{ account.organisation }}" class="textbox" required>
            <br><br>

            <label>Address</label><br>
            <input type="text" name="address" value="{{ account.address }}" class="textbox" required>
            <br><br>

            <label>City</label><br>
            <input type="text" name="city" value="{{ account.city }}" class="textbox" required>
            <br><br>

            <label>State</label><br>
            <input type="text" name="state" value="{{ account.state }}" class="textbox" required>
            <br><br>

            <label>Country</label><br>
            <input type="text" name="country" value="{{ account.country }}" class="textbox" required>
            <br><br>

            <label>Postal Code</label><br>
            <input type="text" name="postalcode" value="{{ account.postalcode }}" class="textbox" required>
            <br><br>

            <input type="submit" class="btn" value="Update">

        </form>
        
    </div>
    <div class="four">
       
        <ul>
           
            <li class="active"><a href="{{ url_for('display') }}">Display</a></li>
            
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        </ul>
    </div>
</div>

</body>
</html>
